* {
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --pimario: #343434;
    --fondo: white;
}



body {
    font-family: gruppo;
    color: var(--pimario);
}

nav {
    background-color: var(--fondo);
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 3rem;
}

nav a {
    text-decoration: none;
    color: var(--pimario);
    padding: 1rem;
}

nav a:hover {
    border-bottom: 1px solid var(--pimario);
    transition-duration: 0.4s;
}

nav a.active {
    border-bottom: 1px solid var(--pimario);
}

header {
    background: var(--fondo);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
}

header h1 {
    font-family: Rakkas;
}

.triada {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;    
}

.triada article {
    border: solid var(--pimario) 1px ;
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
}

.triada article img {
    width: 100%;
    border-radius: 5px;
}

