:root {
    /* FUENTES */
    --titulo: Orbitron;
    --subtitulo: Pridi;
    --parrafo: Chivo Mono;
    /* COLORES */
    --fondo: #abd1c6;
    --encabezado: #001e1d;
    --subencabezado: #0f3433;
    --tarjeta: #004643;
    --tarjetaencabezado: #fffffe;
    --tarjetaparrafo: #abd1c6;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: var(--fondo);
}

body {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* ///// NAV ///// */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.navlist {
    width: 100vw;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.navlink {
    display: grid;
    text-align: center;
    background-color: var(--encabezado);
    color: var(--tarjetaencabezado);
    font-family: var(--parrafo);
    font-weight: 100;
    font-size: 1rem;
    height: 2rem;
    align-content: center
}

.navlink:hover {
    transition-duration: 0.4s;
    background-color: var(--subencabezado);
}

.navlink.active {
    background-color: var(--subencabezado);
}

/* ///// HERO ///// */
.hero {
    position: static;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;

}

.heroheader {
    font-family: var(--titulo);
    font-weight: 900;
    font-size: 4rem;
    align-self: center;
    color: var(--encabezado);
}

.backvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    overflow: hidden;
    opacity: 0.7;
}

/* ///// MAIN HEADER ///// */
.heromain {
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--fondo);
    width: 100%;
}
.heromain > * {
    width: 70%;
}
.heromain h2 {
    color: var(--subencabezado);
    font-family: var(--subtitulo);
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

.heromain h3 {
    color: var(--subencabezado);
    font-family: var(--subtitulo);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}


.heromain p {
    color: var(--tarjeta);
    font-family: var(--parrafo);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

main {
    background-color: var(--fondo);

}




.contenedor {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card {
    display: grid;
    width: 85%;
    grid-template-rows: repeat(3);
    border-radius: 5px;
    justify-self: center;
    margin-bottom: 3rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.card img {
    justify-self: center;
    width: 100%;
}

.card h3,
.card p {
    justify-self: center;
}

.card h3 {
    padding-top: 1rem;
}

.card p,
.card img {
    padding: 0 2rem 2rem 2rem;
}





/* ///// FOOTER ///// */
footer {
    position: static;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    text-align: center;
    background-color: var(--encabezado);

}

footer p,
footer a {
    color: var(--tarjetaencabezado);
    font-size: 1rem;
}


.form-card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}


input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

button[type=submit],
button[type=reset] {
    background-color: #7ed957;
    color: #343434;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 12px;
    margin-right: 12px;
}

button[type=submit]:hover,
button[type=reset]:hover {
    background-color: #343434;
    color: #7ed957;
    transform: scale(1.1);
    transition-duration: 0.4s;
}