:root {
    --titulo: Orbitron;
    --subtitulo: Pridi;
    --parrafo: courier-prime;
}

h1 {
    font-family: var(--titulo);
    font-weight: 900;
    display: inline;
    width: 50px;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--subtitulo);
    font-weight: 100;
}

p,
a {
    font-family: var(--parrafo);
    font-weight: 100;
}

p,
a {
    font-size: 1rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}