:root {
    --titulo: Quantico;
    --subtitulo: Pridi;
    --parrafo: courier-prime;
}

h1 {
    font-family: var(--titulo);
}

h2,
h3,
h4,
h5,
h6,
a {
    font-family: var(--subtitulo);
}

p {
    font-family: var(--parrafo);
}


header h1 {
    font-size: 5rem;
}

header p {
    font-size: 3rem;
}

.card h2 {
    font-size: 2rem;
}

hgroup h2 {
    font-size: 4rem;
}

hgroup h3 {
    font-size: 3rem;
}

hgroup p {
    font-size: 2rem;
}