:root {
    scroll-behavior: smooth;
    --fondo: #abd1c6;
    --encabezado: #001e1d;
    --subencabezado:#0f3433;
    --tarjeta: #004643;
    --tarjetaencabezado:#fffffe;
    --tarjetaparrafo:#abd1c6;
}

html {
    background-color: var(--fondo);
}

nav {
    background-color: var(--encabezado);
}

nav a {
    color: var(--tarjetaencabezado);
}

nav a:hover {
    background-color: var(--subencabezado);   
}

nav a.active {
    background-color: var(--subencabezado);    
}

header h1{
    color: var(--encabezado);
}
header p{
    color: var(--subencabezado);
}

.card{
    background-color: var(--tarjeta);
}
.card h3{
    color: var(--tarjetaencabezado);
}
.card p{
    color: var(--tarjetaparrafo);
}

hgroup h2, hgroup h3{
    color: var(--subencabezado);
}
hgroup p{
    color: var(--tarjeta);
}

footer {
    background-color: var(--encabezado);
}

footer p, footer a {
    color: var(--tarjetaencabezado);
}